variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
#ansible publick roles
jdauphant.nginx
geerlingguy.docker
geerlingguy.pip
solval.gitlab_runner
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
*.pem
*.csr
.env
Gitlab_ci
